@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Source+Code+Pro:wght@700&family=Source+Sans+Pro&display=swap');

.bg-white-dark
{
        
    background: #F7F3F3;
}
.z-2
{
    z-index : 2;
}
.padding-88
{
    padding-top: 100px;
}
.fixed
{
    position : fixed ;
    top : 0;
    left : 0;
    background-color: white;
    min-width: 100%;
    z-index: 900;
    padding-top: 88px !important;
    max-height: 88px;
}
html
{
    overflow-x: hidden;
}
.transition-3
{
    transition: .5s display;
}
*{
    scroll-behavior: smooth;
}
.w-30
{
    width : 25px;
}
body{
    max-width : 100%;
    overflow-x: hidden;
}
.logo::before
{
    content : '<';
    letter-spacing: 1px;
}
.logo::after
{
    content : '/>';
    letter-spacing: 1px;
}
.top-88
{
    top : 88px !important;
    left : 0px !important;
}
.font-code-pro
{
    font-family: 'Source Code Pro', monospace;
    font-size: 45px;
    line-height: 61px;
}
.font-source-code-pro
{
    font-family: 'Source Code Pro', monospace;
}
.content-color
{
    font-family: 'Open Sans', sans-serif;
    color : #898989;
    font-size: 17px;
    line-height: 31px;
    text-align: justify;
}
.font-sans-pro
{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.letter-spacing-3
{
    letter-spacing: 1px;
}
.line-height
{
    line-height: 12px;
}
.bg-subnav
{
    background-color: #E3E8ED;
}
.gap
{
    gap : 10px;
}
.font-5
{
    font-size : 10px;
}
.position-relative
{
    position: relative;
}
.position-absolute
{
    position: absolute;
    top : 12%;
    left : 5%;
}
.active
{
    background-color: #E3E8ED;
}
.text-color
{
    color: #111827;
}
.experienceList
{
    list-style-type: none;
}
.hover-box:hover
{
    background: #E3E8ED;
}
.bg-blue
{
    background: #E3E8ED;
}
.mobile-menu li:hover
{
    background-color: rgb(83, 83, 83);
    color : white;
}
.mobile-menu li
{
    margin-top : 10px;
}
.mobile-menu li:last-child:hover
{
    background-color: transparent;
}
.height{
    min-height :  calc(100vh - 88px) !important;
}
@media  screen and (max-width : 1024px) {
    .flex-direction-column
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width : 400px){
    .font-20
    {
        font-size: 10px;
    }
    .logo
    {
        font-size: 23px;
    }
}
@media  screen and (max-width : 541px) {
    .font-20
    {
        font-size: 25px;
    }
    .logo{
        font-size: 28px;
    }
    
}

